body {

   /* Light gray background */
  background: radial-gradient(circle, #ffffff, #c3c2c2);
  margin: 0;
  padding: 0;
  text-align: left;
}
.page-title{
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 7rem;
  text-align: center;
}


/* Widget Page */

/* Groups all containers to line them up horizontally */
.all-containers{
  display: flex;          
  flex-wrap: wrap;         
  gap: 160px;               /* Space between items  */
  justify-content: center; 
  margin: 20px auto;   
}

/* Each individual container */
.widgets-container {
  border-radius: 10px;
  background-color:   #c1c1c1;
  background: radial-gradient(circle, #c1c1c1, #868686);
  box-shadow: none;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
    position: relative;    
    justify-content: center; /* Center widgets horizontally */
    gap: 20px; /* Space between widgets */
    min-width: 500px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  /* Containers when hovered over */
  .widgets-container:hover {
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
      position: relative;    
      justify-content: center; /* Center widgets horizontally */
      gap: 20px; /* Space between widgets */
      min-width: 500px;
      transform: scale(1.05);
    }

    /* Description and dimensions of each widget (white square) */
.widgetCard{
  min-height: 300px;
  position: relative;               
  background-color: #ffffff;       
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Soft drop shadow for layering effect */
  width: 300px;                     
  margin: 20px auto;                /* Center horizontally and add vertical space */
  padding: 30px ;          
  text-align: center;
}
/* Card Text */
.widget-title{
    font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.widgetDesc{
  font-family: 'Inter', sans-serif;
    font-size: 1rem;
  line-height: 1.4;
  margin-top: 0.5rem;
}
.widgetDim{
    font-size: 1rem;
  line-height: 1.4;
  margin-top: 0.5rem;
}

/* Misc text */
.more-widgets{
  font-size: 2rem;   /* Or 24px, 36px, etc. */
  font-weight: bold; /* or numeric value like 700 */
}

/* Simple fix for activityWidget.png */
.activity-image{
  margin-top: 20px;
}

/* FAQ Page */
.questions{
  text-align: left;
  margin-left: 40px;
}

h3{
  font-family: 'Montserrat', sans-serif;
font-size: 3.5rem;
font-weight: bold;
margin-bottom: 0.5rem;
}

ul {
  
  margin: 0;
  padding-left: 2em; 
  list-style-position: inside;
  padding: 0 0 0 20px; /* Indent the bullets if you like */
}

 .page-title{
   font-size: 7rem;
   font-weight: bold;
   margin-bottom: 7rem;
 }
 
 /* Widget Page */
 
 /* Groups all containers to line them up horizontally */
 .all-containers{
   display: flex;          
   flex-wrap: wrap;         
   gap: 160px;               /* Space between items  */
   justify-content: center; 
   margin: 20px auto;   
 }
 
 /* Each individual container */
 .widgets-container {
   border-radius: 10px;
   background-color:   #c1c1c1;
   background: radial-gradient(circle, #c1c1c1, #868686);
   box-shadow: none;
   display: flex;
   flex-direction: column; /* Stack items vertically */
   align-items: center;
     position: relative;    
     justify-content: center; /* Center widgets horizontally */
     gap: 20px; /* Space between widgets */
     min-width: 500px;
     transition: box-shadow 0.3s ease, transform 0.3s ease; 
   }
   /* Containers when hovered over */
   .widgets-container:hover {
     box-shadow: 0 20px 20px rgba(0,0,0,0.2);
     display: flex;
     flex-direction: column; /* Stack items vertically */
     align-items: center;
       position: relative;    
       justify-content: center; /* Center widgets horizontally */
       gap: 20px; /* Space between widgets */
       min-width: 500px;
       transform: scale(1.05);
     }
 
     /* Description and dimensions of each widget (white square) */
 .widgetCard{
   min-height: 300px;
   position: relative;               
   background-color: #ffffff;       
   box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Soft drop shadow for layering effect */
   width: 300px;                     
   margin: 20px auto;                /* Center horizontally and add vertical space */
   padding: 30px ;          
   text-align: center;
 }
 /* Card Text */
 .widget-title{
     font-family: 'Montserrat', sans-serif;
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 0.5rem;
 }
 .widgetDesc{
   font-family: 'Inter', sans-serif;
     font-size: 1rem;
   line-height: 1.4;
   margin-top: 0.5rem;
 }
 .widgetDim{
     font-size: 1rem;
   line-height: 1.4;
   margin-top: 0.5rem;
 }
 
 /* Misc text */
 .more-widgets{
   font-size: 2rem;   /* Or 24px, 36px, etc. */
   font-weight: bold; /* or numeric value like 700 */
 }
 
 /* Simple fix for activityWidget.png */
 .activity-image{
   margin-top: 20px;
 }
 
 /* FAQ Page */
 .questions{
   text-align: left;
   margin-left: 40px;
 }
 
 h3{
   font-family: 'Montserrat', sans-serif;
 font-size: 3.5rem;
 font-weight: bold;
 margin-bottom: 0.5rem;
 }
 
 ul {
   
   margin: 0;
   padding-left: 2em; 
   list-style-position: inside;
   padding: 0 0 0 20px; /* Indent the bullets if you like */
 }

 .month-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1; 
}
.month-header {
  display: flex;
  align-items: center; /* Vertically align logo and text */
  justify-content: center; /* Centers the entire content */
  position: relative; /* Helps position the logo */
  width: 100%;
  padding: 10px;
}

/* Slideshow */
@keyframes changeBackground {
  0% { background-color: #FF5733; }   /* Red-orange */
  25% { background-color: #33C1FF; }  /* Light blue */
  50% { background-color: #8D33FF; }  /* Purple */
  75% { background-color: #33FF57; }  /* Green */
  100% { background-color: #FF5733; } /* Back to red-orange */
}

.slide-content {
  width: 1152px;
  height: 648px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  animation: changeBackground 48s infinite steps(1, end);
}

.slide-header {
  text-align: center;
  font-size: 48px;
  
}

.slide-body {
  display: flex;
  height: calc(100% - 80px); /* remaining space after header */
}

.slide-text{
  width: 50%;
  height: 80%;
  padding: 20px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  font-size: clamp(12px, 2.5vw, 48px); 
  display: flex;
  flex-direction: column;
  justify-content: left;
  box-sizing: border-box;
  overflow: hidden; /* Hide anything that spills out */
}

.slide-text p {
  margin: 5px 0;
  line-height: 1.2;
}

.slide-image {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

/* Developers Page*/
.grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 40px;
      padding: 0 30px;
    }

    .card {
      background-color: white;
      padding: 40px 30px;
      border-radius: 20px;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .avatar {
      width: 120px;
      height: 120px;
      background-color: #ccc;
      border-radius: 50%;
      margin: 0 auto 25px;
    }

    .name {
      font-size: 1.6em;
      font-weight: bold;
      color: #222;
      margin-bottom: 10px;
    }

    .year {
      color: #777;
      font-size: 1em;
      margin-bottom: 20px;
    }

    .bio {
      font-size: 1.05em;
      color: #555;
      line-height: 1.5em;
    }
